<!DOCTYPE html>
 <meta charset="utf-8">	
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-
Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <title>Hola Mundo con Python</title> 
 </head>
 <body style="background-color:rgb(46, 204, 113 );">


 <div class="container-md">
 	<h1 class="alert alert-primary" role="alert">Bienvenid@s al Blog de pasatiempo de {{ nombre }}  <img src="static/img/2.png" height="30" width="30" onclick="location.href='https://www.facebook.com/cristopher.corona.50'"></h1>

 </div>	

 <div class="alert alert-success" role="alert">
 	<h1>¿Qué es el futbol?</h1>
  El fútbol o futbol2​ (del inglés británico football, traducido como balompié)3​ es un deporte de equipo jugado entre dos conjuntos de once jugadores cada uno y algunos árbitros que se ocupan de que las normas se cumplan correctamente. Es ampliamente considerado el deporte más popular del mundo, pues lo practican unas 270 millones de personas.4​ También se le conoce como futbol asociación o fútbol asociación, nombre derivado de The Football Association, primera federación oficial del mundo en este deporte y que utilizó ese nombre para distinguirlo de otros deportes que incluyen la palabra "futbol" o "fútbol".5​ En algunos países de habla inglesa también se le conoce como soccer, abreviatura de association, puesto que el nombre de football en esos países se asocia mayoritariamente a otros deportes con esa denominación (principalmente en Estados Unidos donde el nombre football aplica para el fútbol americano, un deporte totalmente distinto).
  El fútbol o futbol2​ (del inglés británico football, traducido como balompié)3​ es un deporte de equipo jugado entre dos conjuntos de once jugadores cada uno y algunos árbitros que se ocupan de que las normas se cumplan correctamente. Es ampliamente considerado el deporte más popular del mundo, pues lo practican unas 270 millones de personas.4​ También se le conoce como futbol asociación o fútbol asociación, nombre derivado de The Football Association, primera federación oficial del mundo en este deporte y que utilizó ese nombre para distinguirlo de otros deportes que incluyen la palabra "futbol" o "fútbol".5​ En algunos países de habla inglesa también se le conoce como soccer, abreviatura de association, puesto que el nombre de football en esos países se asocia mayoritariamente a otros deportes con esa denominación (principalmente en Estados Unidos donde el nombre football aplica para el fútbol americano, un deporte totalmente distinto.
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  Fotos
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fotos de futbol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/5.jpg" class="d-block w-100" width="50" height="130">
     
    </div>
    <div class="carousel-item">
      <img src="static/img/6.jpg" class="d-block w-100"  width="50" height="130">
    
    </div>
    <div class="carousel-item">
      <img src="static/img/7.jpg" class="d-block w-100"  width="50" height="130">
     
    </div>
    <div class="carousel-item">
      <img src="static/img/8.jpg" class="d-block w-100"  width="50" height="130">
      
    </div>
    <div class="carousel-item">
      <img src="static/img/9.jpg" class="d-block w-100" width="50" height="130">
    </div>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>
  </div>

 <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">¿Por qué jugarlo?</h4>
  <p>Me gusta jugarlo por el motivo de que podemos convivir con personas o amigos, así que además de ser un deporte popular también ayuda a convivir con otras personas y es muy sano para hacer deporte en lo cual hombres y mujeres pueden jugarlo. También trae beneficios como mayor movilidad para desplazarse de un lado a otro, lo que ayuda a las articulaciones de los músculos y al nivel cardiopulmonar de la persona que lo práctica, el corazón y en general el sistema circulatorio, se fortalece al mantenerlo activo mediante el ejercicio, lo que puede ayudar a disminuir los triglicéridos y el colesterol, Con este juego aprendes a trabajar en equipo, ya que todos intentan cumplir el mismo objetivo: meter gol y evitar que el equipo contrario lo meta a su portería.</p>
  <hr>
  <p class="mb-0">Hecho por Christopher Corona<br>Mi correo cris12corona@gmail.com</p>
</div>	 
<div align="center">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Datos Curiosos
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
  Dato curioso:El primer partido de fútbol que fue transmitido en vivo por televisión fue en 1937. Se trató de un amistoso entre el equipo titular y suplente de Arsenal, en abril de aquel año.<br>Ademas la pelota de cuero fue inventada por los chinos en el siglo IV a. C. antes de Cristo.
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>
  
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-
Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-
wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>
 </body>
 </html>